header{
    background-color: #2c3e50;
    height: 90px;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

header .col-auto>div{
    height: 90px;
    line-height: 90px;
}

header .col-auto>nav{
    height: 90px;
    line-height: 90px;
}

.hero{
    background-color: #1abc9c;
    height: 590px;
}

.hero .col>div{
    width: 600px;
    height: 450px;
    background-color: white;
    margin: 70px auto;
}

section.portfolio{
    padding: 80px 0;
}

section.portfolio h2{
    text-align: center;
}

section.portfolio figure{
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.portfolio figure .pic{
    width: 360px;
    height: 260px;
    background-color: #0e38b5;
}

section.about{
    background-color: #1abc9c;
    /* height: 490px; */
    padding: 70px;
}

section.about .title{
    background-color: white;
    width: 380px;
    height: 120px;
    margin: 0 auto;
}

section.about .download{
    background-color: white;
    width: 140px;
    height: 45px;
    margin: 0 auto;
}

section.contact{
    padding: 70px;
    background-color: yellow;
}

section.contact .title{
    background-color: blue;
    width: 370px;
    height: 100px;
    margin: 0 auto;
}

section.contact .form{
    background-color: green;
    width: 950px;
    height: 410px;
    margin: 0 auto;
}

footer{
    background-color: #3a546d;
}

footer .row{
    /* padding: 70px 0; */
}

footer .credits{
    height: 110px;
    width: 350px;background-color: white;
    margin: 70px auto;
}

footer .copyright{
    background-color: #2c3e50;
    height: 100px;
}

footer span{
    display: block;
    text-align: center;
    line-height: 100px;
    color: white;
}