/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Noto Sans', sans-serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #2c3e50;
    height: 90px;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

section h2{
    font-size: 52px;
    font-weight: 600;
}

section .starLine{
    width: 170px;
    border-bottom: 4px solid #2c3e50;
}

section .fa-star{
    color: #2c3e50;
    font-size: 28px;
    margin: 20px 30px;
    margin-bottom: 30px;
}

section .starLine.white{
    border-bottom: 4px solid white;
}

section .fa-star.white{
    color: white;
}

section a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px 15px;
    border-radius: 7px;
    font-size: 19px;
    font-weight: 500;
    margin-top: 40px;
    display: inline-block;
}

.hero{
    background-color: #1abc9c;
    padding: 70px 0;
    color: white;
}

.hero h2{
    font-size: 60px;
    font-weight: 600;
}

.hero img{
    height: 260px;
    margin-bottom: 30px;
}

.hero span{
    font-size: 26px;
    font-weight: 500;
}

section.portfolio{
    padding: 80px 0;
}

section.portfolio figure{
    margin: 15px;
}

section.portfolio figure img{
    max-width: 100%;
    border-radius: 10px;
}

section.about{
    background-color: #1abc9c;
    padding: 70px;
    color: white;
    font-size: 21px;
    font-weight: 500;
}

section.about p{
    margin-bottom: 30px;
}

section.about a{
    color: white;
}

section.contact{
    padding: 70px;
}

section.contact .fa-star{
    margin-bottom: 20px;
}

section.contact span{
    color: #2c3e50;
    font-size: 20px;
    display: block;
    border-bottom: 1px solid lightgrey;
    line-height: 60px;
}

section.contact span.message{
    height: 200px;
    line-height: 80px;
}

section.contact a{
    color: white;
    background-color: #1abc9c;
    border: none;
    margin-top: 15px;
    display: inline-block;
}

footer{
    background-color: #3a546d;
    color: white;
    font-size: 20px;
    padding: 50px 0;
}

footer i{
    border: 1px solid white;
    border-radius: 100%;
    padding: 15px 16px;
}

footer i.fa-facebook-f{
    padding: 15px 20px;
}

footer i.fa-google-plus-g{
    padding: 15px 14px;
}

footer i.fa-linkedin-in{
    padding: 15px 18px;
}

.copyright{
    background-color: #2c3e50;
    height: 110px;
}

.copyright span{
    line-height: 100px;
    color: white;
    font-size: 14px;
}